# Ignore virtual environment
nzulu_env/

# Ignore development and cache files
*.pyc
__pycache__/

# Ignore vectorstore
db/

# Ignore git directory
.git/

# Ignore database files if using SQLite
*.sqlite3

# Ignore user-generated static and media files
staticfiles/
mediafiles/

# Ignore other non-essential files
*.log
.DS_Store


# Ignore source documents
source_documents/

# Ignore models
models/

# Ignore env variables
.env

